html {
    font-size: 22;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333; 
}
a, a:visited {
    color: #333;
    
}
/* a:visited {
    color: lightgray;
} */
a:hover, a:active {
    color: #eee;
}


/* canvas {
    border: 1px solid black;
} */